* {
    font-family: 'Gochi Hand', cursive;
    background-color: beige !important;
}

.gif-button {
    margin-right: 8px;
    margin-bottom: 8px;
}

.display-gifs {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
}

.jumbotron, .container, .display-4, .lead {
    background-color: #82A6B1 !important;
}

.gif-input {
    background-color: rgb(255, 255, 255) !important;
}