.gif-button {
    margin-right: 8px;
    margin-bottom: 8px;
}

* {
    font-family: 'Gochi Hand', cursive;
}

.display-gifs {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
}